/.env
/host.env

/letsencrypt/etc_letsencrypt/
!/letsencrypt/etc_letsencrypt/.gitkeep
/letsencrypt/var_lib_letsencrypt/
!/letsencrypt/var_lib_letsencrypt/.gitkeep

/public_html/udonite/
/public_html/audio/
!/public_html/audio/.gitkeep
/public_html/image/
!/public_html/image/.gitkeep

/udonite-server/default.yaml
/udonite-client/config.yaml
